<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <h2>{{ trainerDetail.name }}</h2>
      <img [src]="trainerDetail.imageUrl" [alt]="trainerDetail.name" />
      <p><strong>Age:</strong> {{ trainerDetail.age }}</p>
      <p><strong>About:</strong> {{ trainerDetail.bigSnopsies }}</p>
      <p><strong>Pokémon:</strong></p>
      <app-pokemon-list [pokemonList]="trainerDetail.pokemons"></app-pokemon-list>
      <p><strong>Nivel promedio:</strong> {{ calculateAverageLevel() }}</p>
      <button class="btn btn-secondary" [routerLink]="['/trainers']">
        Volver
      </button>
    </div>
  </div>
</div>
