<div class="container mt-4">
  <div class="row">
    <div class="col-md-4" *ngFor="let trainer of trainers">
      <div class="card">
        <img
          [src]="trainer.imageUrl"
          class="card-img-top"
          [alt]="trainer.name"
        />
        <div class="card-body">
          <h5 class="card-title">{{ trainer.name }}</h5>
          <p class="card-text">Pokémon: {{ trainer.pokemons.length }}</p>
          <a [routerLink]="['/trainers', trainer.id]" class="btn btn-primary"
            >Ver Detalle</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
